
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
	<div class="app-brand demo">
		<a href="{{ path('applicant') }}" class="app-brand-link d-flex gap-1">
			<span class="app-brand-logo demo" style="height: 3rem;width: 3rem;">
				<img src="https://medias.florajet.com/_w_/design/v32/logo/HD/logo_2025.webp?w=230" alt="Logo" >
			</span>
			<span class="fs-4 demo menu-text fw-bolder ms-2">Florajet</span>
		</a>

		<a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
			<i class="bx bx-chevron-left bx-sm align-middle"></i>
		</a>
	</div>

	<div class="menu-inner-shadow"></div>

	<ul
		class="menu-inner py-1">
		<!-- Dashboard -->
		<li class="menu-item"  id="applicant">
			<a href="{{ path('applicant') }}" class="menu-link">
				<i class="menu-icon tf-icons bx bx-home-circle"></i>
				<div data-i18n="Analytics">Dashboard</div>
			</a>
		</li>

		<li class="menu-item" id="request">
			<a href="{{ path('app_applicant_new') }}" class="menu-link">
				<i class='menu-icon bx bx-network-chart'></i>
				<div data-i18n="Projects">Project - Ticketing</div>
			</a>
		</li>

		<li class="menu-item" id="request">
			<a href="{{ path('app_sandbox_index') }}" class="menu-link">
				<i class='menu-icon bx bx-cube'></i>
				<div data-i18n="Projects">Sandbox</div>
			</a>
		</li>


	</ul>
</aside>
